<aside id="cookie-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="cookie-banner__text">
                    I use cookies to see how people use the site.
                    If you would rather not opt in to these cookies,
                    please <em style="cursor: pointer" class="close" onclick="closeCookieBanner('false')">click here</em> to opt out.
                </p>
                <button
                        class="btn btn--primary cookie-banner__btn"
                        id="cookie-banner__btn"
                        onclick="closeCookieBanner()"
                >Accept and close</button>
            </div>
        </div>
    </div>
</aside>
<script type="text/javascript">
    function closeCookieBanner(cookie_consent = "true") {
        const reload = cookie_consent !== localStorage.getItem("cookie_consent")
        localStorage.setItem("cookie_consent", cookie_consent);
        document.getElementById("cookie-banner").style.display = "none";
        if (reload) {
            location.reload();
        }
    }

    if (localStorage.getItem("cookie_consent") !== null) {
        document.getElementById("cookie-banner").style.display = "none";
    }
</script>
<style>
    #cookie-banner .col-12 {
        display: flex;
        background-color: var(--bs-gray-100);
        color: var(--color-white);
        margin: auto;
        padding: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        font-size: small;
        justify-content: space-around;
        align-items: center;
    }
    #cookie-banner .col-12 p {
        margin: 0;
    }
    #cookie-banner__btn {
        margin-left: 1rem;
        height: min-content;
    }
</style>