---js
{
    title: "All Essays",
    layout: "layouts/default.njk",
    footer: "footer1",
    pagination: {
      data: "collections.posts",
      size: 10,
      reverse: false,
      alias: "posts",
      before: function (paginationData, fullData) {
        // `fullData` is new in v1.0.1 and contains the full Data Cascade thus far

        return paginationData.sort((a, b) => {
          return new Date(b.date) - new Date(a.date);
        });
      }
    }
}
---

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-5">
      <h1>{{title | markdownify | safe}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6">
      <div class="row border-bottom">
        {% include "snippets/loop.njk" %}
      </div>
      {% include 'snippets/loopprevnext.njk' %}
    </div>
  </div>
</div>
