---
title: About
eleventyExcludeFromCollections: true
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
permalink: content.html
---
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-5">
      <h1>{{title | markdownify}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6 border-bottom border-top py-vh-3">
      <div class="row">
        <p class="lead">ThePhilosophyOfShakespeare is a series of essays by Richard Burrow exploring Shakespeare's philosophy through close reading of his plays.</p>
        <p class="">Richard is a retired English Literature teacher. He has taught secondary school and university students, and holds an MPhil from Oxford University.</p>
        <p class="">ThePhilosophyOfShakespeare is a work in progress. New essays will be added regularly. Hopefully, each play will eventually have its own essay in this collection.</p>
        <p class="">If you have any questions or comments, please get in touch using the email address <a href="mailto:philosophyofshakespeare@gmail.com">philosophyofshakespeare@gmail.com</a>.</p>
      </div>
    </div>
  </div>
</div>
